<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col"style="text-align: center;">#</th>
            <th scope="col"style="text-align: center;">Name</th>
            <th scope="col"style="text-align: center;">Age</th>
            <th scope="col"style="text-align: center;">Edit</th>
            <th scope="col"style="text-align: center;">Delete</th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let user of users">
            <td style="text-align: center;">{{ user.id }}</td>
            <td style="text-align: center;">{{ user.name }}</td>
            <td style="text-align: center;"><a href="mailto:{{ user.age }}">{{ user.age }}</a></td>
            
            <td style="text-align: center;"><button (click) = "updateUser(user.id)" class = "btn btn-primary"> Edit</button></td>
            <td style="text-align: center;"><button (click) = "deleteUser(user.id)" class = "btn btn-danger"> Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>